/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.darkToolBar{
  background: #272728 !important;
  color: #909090 !important;
}

.darkText{
  color: #909090 !important;
}

.darkBody{
  background-color: #686868 !important;
}

.darkButton{
  background-color: #1f1f1f !important;
}
